.container {
  position: relative;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #99999922;


  .terms{
    font-size: large;
    font-weight: bold;
    padding-bottom: 50px;
  }

  #welcome {
    font-size: xx-large;
    font-weight: revert;
    margin: 20px;
  }

  .login-box, .register-box {
    position: relative;

    input[type="text"], input[type="password"] {
      width: 250px;
      height: auto;
      line-height: normal;
      margin-bottom: .5em;
      padding: 0.8em 0.5em;
      border: 1px solid #999;
      border-radius: 0;
      outline-style: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    div:nth-child(10), div:nth-child(11) {
      padding-bottom: 20px;
    }

    .postal-code {
      width: 110px !important;
    }

    label {
      padding: 10px;
    }
    
    textarea {
      cols: 10;
      resize: none;
    }

    .button {
      display: inline-block;
      padding: 15px;
    }

    .button:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
