.app-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  
  .menu-bar {
    list-style: none;
    text-align: right;
    padding-right: 12px;

    li {
      display: inline-block;

      a {
        color: black;
        text-decoration: none;
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        transition: color 0.4s;
      }

      a:hover {
        color: darkviolet;
      }
    }
  }

  #title {
    font-size: 50px;
    font-weight: bolder;
    color: darkviolet;

    a {
      text-decoration: none;
    }

    a:hover {
      color: darkviolet;
    }
  }

  #mainImage{
    background-color: #9400D322;
    width: 100vw;
    height: 500px;
  }
}

.app-body {
  position: absolute;
  top: 661px;
  left: 350px;

}

.left-aside {
  position: absolute;
  top: 661px;
  height: 1000px;
  width: 350px;
  background-color: #ee82ee88;
}

.app-footer {
  position: relative;
  top: 1645px;
  bottom: 0;
  background-color: #80808033;
  text-align: center;
  height: 150px;
  width: 100vw;

  .menu-bar {
    list-style: none;

    li {
      display: inline-block;
    }

    a {
      font-size: large;
      color: black;
      text-decoration: none;
      padding-left: 8px;
      padding-right: 8px;
      display: block;
      transition: color 0.4s;
    }

    a:hover {
      color : darkviolet;
    }
  }

}