.app-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  li, ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-bar {
    list-style: none;
    text-align: right;

    li {
      display: inline-block;

      a {
        color: black;
        text-decoration: none;
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        transition: color 0.4s;
      }

      a:hover {
        color: #0000006E;
      }
    }
  }

  #title {
    font-size: 65px;
    font-weight: bolder;
    margin: 24px 0 32px 0;
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .category-menu-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    color: black;

    ul {
      li{
        float: left;
        transition: background-color 0.4s;

        a{
          color: black;
          text-align: center;
          text-decoration: none;
          display: block;
          padding: 24px 48px;
        }
      }

      li:hover{
        background-color: #0000000A;
        border-bottom: 2px solid darkviolet;
      }
    }
  }
}


.app-body {
  position: absolute;
  top: 250px;
  width: 100%;
  text-align: center;
}

.left-aside {
  position: absolute;
  width: 350px;
}

.app-footer {
  position: relative;
  top: 1645px;
  bottom: 0;
  height: 200px;
  width: 100vw;
  background-color: #80808033;
  text-align: center;

  .menu-bar {
    list-style: none;

    li {
      display: inline-block;
    }

    a {
      font-size: large;
      color: black;
      text-decoration: none;
      padding-left: 8px;
      padding-right: 8px;
      display: block;
      transition: color 0.4s;
    }

    a:hover {
      color : #0000006E;
    }
  }

}